BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DOMAIN=localhost
# openssl rand -hex 32
BETTER_AUTH_SECRET=
# https://resend.com/api-keys
RESEND_API_KEY=
# https://app.turso.tech/
LIBSQL_DATABASE_TOKEN=
LIBSQL_DATABASE_URL=
DISCORD_WEBHOOK_URL=